a {
	text-decoration: none;
}


.bottom-right-add-item p {
	text-decoration: none;
	box-shadow: 5px 5px 8px #777;
	border-radius: 3px;
	padding: 12px;
	width: 120px;
	margin: 20px 0;
	margin-top: 30px;
	background-color: #1a8ca2  ;
	color: #fff;
}

.bottom-right-add-item p:hover {
	background-color:  #077489;
}

#container.sign-up {
	height: 850px;
	position: relative;
	margin-bottom: 50px;
	padding-bottom: 90px;
	margin-top: 30px;
}


textarea#description {
	padding: 10px;
	visibility: auto;
	margin: 10px;
	margin-top: 12px;
    margin-left: 0px;
   	width: 290px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #D4D7D9;
    border-radius: 4px;
    color: black;
    resize: none;

}

.nav-sign-in .sign-up-for-new-upgrade {
	color: #FF8C00 ;
	font-weight: bolder;
	padding: 8px;
	transform: all 2s ease;
	background-color: #fff;
	border: 2px solid #23D60D;
	border-radius: 10px;
}

.nav-sign-in .sign-up-for-new-upgrade:hover {
	background-color: #23D60D;
	color: #fff;
}