

#my-profile {
	float: right;
	top: 0px;
	right: 66px;
	position: absolute;
}



  #my-profile button {
  	background-color: #fff;
  	border: 0.5px solid #2B8EBA;
    width: 80px;
    height: 80px;
  	border-radius: 50%;
  	text-align: center;
  	display: inline-block;
    background-color: #C4C4C4;
  	padding: 10px 25px;
    padding-left: 15px;
  	font-size: 12px;
  	margin: auto;
  	cursor: pointer;
  	transition-duration: 0.45s;
  	-webkit-transition-duration: 0.45s;
  }

  #my-profile button:hover {
  	background: #949494;
  	color: #fff;
    font-weight: bolder;
  	border: 4px solid #2B8EBA;
  }

.profile-name-user {
  font-size: 13px;
  position: absolute;
  right: 23px;
  top: 95px;
}

@media only screen and (max-width: 700px){
  .profile-name-user {
    visibility: hidden;
  }

  h3 {
    font-size: 13px;
  }

  .product-info-container {
    font-size: 12px;
  }

  #my-profile button {
    height: 40px;
    width: 40px;
    font-size: 6px;
  }
}

.container {
  padding: 20px;
  padding-top: 0;
}

.split {
  width: 100%;
  position: absolute;
  padding: 20px 0;
}

.categories {
  width: 30%;
  height: 450px;
  left: 5px;
  padding-right: 0px;
  border: 1px solid black;
}

.product-cards {
  text-align: center;
  width: 65%;
  right: 10px;
  border-left: 2px solid lightgrey;
  margin-left: 30px;
  padding-left: 10px;
}

.cat-lists ul li {
  display: block;
  margin-left: 0;

}

li {
  list-style-type: none;
  margin-left: -35px;
  padding: 14px 0;
  margin-bottom: 2.5px;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  border: 1px solid grey;
  background-color: #f3f3f3 ;
  padding-right: 20px;
}

.split.categories .left-cat a {
    text-decoration: none;

}

/*cards for products */

.product-card img {
  width: 100%;
  height: auto;
}

.product-card {
  box-shadow: 0 2px 7px 1px rgba(10,60,252,0.2);
  transition: 0.5s;
  padding: 16px;
  margin-top: 20px;
  border-radius: 3px;
}

.product-card:hover {
    box-shadow: 0 16px 43px 0 rgba(10,60,252,0.2);
}


.product-column {
  float: left;
  padding: 0 10px;

}

.product-info-container {
  margin-top: 50px;
  text-align: left;
 
}

.product-row {
  margin: 0 -5px;
  margin-bottom: 40px;
}

.product-row:after {
  content: "";
  display: table;
  clear: both;
}

#more-product-details {
  margin-left: 20px;
  text-decoration: none;
}

#more-product-details:hover {
  text-decoration: underline;
}


/*footer */

