#my-profile {
	float: right;
	top: 0px;
	right: 66px;
	position: absolute;
}



  #my-profile button {
  	background-color: #fff;
  	border: 0.5px solid #2B8EBA;
    width: 80px;
    height: 80px;
  	border-radius: 50%;
  	text-align: center;
  	display: inline-block;
    background-color: #C4C4C4;
  	padding: 10px 25px;
    padding-left: 15px;
  	font-size: 12px;
  	margin: auto;
  	cursor: pointer;
  	transition-duration: 0.45s;
  	-webkit-transition-duration: 0.45s;
  }

  #my-profile button:hover {
  	background: #949494;
  	color: #fff;
    font-weight: bolder;
  	border: 4px solid #2B8EBA;
  }

.profile-name-user {
  font-size: 13px;
  position: absolute;
  right: 23px;
  top: 95px;
}

@media only screen and (max-width: 700px){
  .profile-name-user {
    visibility: hidden;
  }
  h3 {
    font-size: 13px;
  }
}

.container {
  padding: 20px;
  padding-top: 0;
}

.split {
  width: 100%;
  height: 480px;
  position: absolute;
  padding: 20px 0;
}

.categories {
  width: 30%;
  padding-left: 0px;
  height: 480px;
  left: 5px;
  border: 2px solid black;
}

.product-cards {
  text-align: center;
  width: 70%;
  right: 10px;
  border: 2px solid grey;
}

.cat-lists ul li {
  display: block;
  margin-left: 0;

}

li {
  list-style-type: none;
  margin-left: -35px;
  padding: 14px 0;
  width: 100%;
  text-align: center;
  border: 1px solid grey;
}

.split.categories .left-cat a {
    text-decoration: none;

}


/*cards for products */

.product-card img {
  width: 100%;
}